@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

var headlineContent = Model?.Content.Value<string>("headlineContent");

}


@if(!string.IsNullOrEmpty(headlineContent))
{
<h3>@headlineContent </h3>


}

