@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

var paragraphContent = Model?.Content.Value<string>("paragraphContent");

}


@if(!string.IsNullOrEmpty(paragraphContent))
{
<p>@paragraphContent </p>


}

